body{
    font-family: 'Roboto', sans-serif;
}
.nav{
    display :flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(51,51,51);
}
.nav-title{
    margin-left: 20px;

}
ul{
display: flex;
justify-content:end;  
list-style:none; 
align-items: center;
}
li{
padding-right: 20px;

}
a{
text-decoration: none;
color: white;
}
.active{
    font-weight: bold;
}
.btn{
    background-color:rgb(23,162,184);
    color: white;
    border: 3px black solid;
    box-shadow: 3px 3px black ;
    height: 30px;
}